body {
  /* padding-left: 20%;
  padding-right: 20%; */
  font-family: "Source Sans Pro"; /* , sans-serif */
}

/* .App {
  text-align: center;
} */

.headerContainer {  
  background: #24252a;
  color: white;  
  text-align: center;
  min-height: 35vh;
  background-attachment: fixed;         /* probs need image meta*/ 
  background-position: center -400px;
  background-repeat: no-repeat;
  background-size: cover;
  
 
}

.popup {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navParent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
}

.navLinks {
  /* width: 40%; */
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  list-style: none;
}

.bars {
  border: none;
  background: none;
  color: white;
  font-size: larger;
  margin: 0;
  outline: none !important;
  align-items: center;
}

.bars:hover {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.liLinks {
  padding-left: 1vw;
  color: white;
  text-decoration: inherit;
}

.logo {
  height: 30px;
  width: 30px;
}

.heading {
  padding-top: 1em;
  display: flex;
  flex-direction: column;  
  align-items: center;
  text-shadow: 2px 2px 4px #383838;
}

.headingchild {
  width: 25%;
}

.title {
  font-size: 40px;
  padding-bottom: 10px;
}

.underline {
  width: 50px;
  border-bottom: 1px solid rgb(255, 69, 69);
}

.description {
  font-size: 15px;
  font-weight: 10;
  font-style: italic;
  padding-top: 12px;
  padding-bottom: 20px;
}

.item {
  text-align: center;
  align-items: center;
  color: white;
  margin: 0px;
  padding: 0px;
}

.liImage {
  max-width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-decoration: none;
  background-color: #222;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.copy {
  padding: 30px;
}

.copy p {
  margin: 0.2em;
}

.copyrow {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.footer {
  bottom: 0;
  color: white;
  background-color: #24252a;
  padding: 5rem 20% 0 20%;
}

.footer > div {
  border-top: 1px solid rgb(131, 131, 131);
  display: flex;
  justify-content: space-between;
}

.footer > div > div {
  /* border-top: 1px solid rgb(131, 131, 131); */
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
}

.footer > div > div > p {
  font-size: 12px;
  padding: 0.5em;
  font-style: italic;
}

/*      list items         */

.parent {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  /* float: left;
  display: inline-block; */
  cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-position: center;
}

.uncle {
  background-color: rgba(0, 0, 0, 0.55);
  height: 100%;
  width: 100%;
}

.anchor {
  font-size: 35px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 1em;
  left: 0;
  bottom: 0;
  right: 0;
  /* height: 50px; */
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
}

.parent:hover .child,
.parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.postinfo{
  display: flex;  
  justify-content: center;
  border-bottom: 1px solid rgb(223, 223, 223);  
  font-size: 10px;
  font-style: italic;
}


.left{    
  padding: 0.5em;
  color:  rgb(202, 202, 202); 
  border-right: 1px solid rgb(223, 223, 223);
  flex: 50%;
}
.right{  
  padding: 0.5em;  
  color:  rgb(0, 102, 255); 
  flex: 50%;
}

.right > div{  
  padding-left: 10%;
}

.left > div{  
padding-left: 50%;
}



.posticon{  
  padding-right: 1em;
  color:  rgb(255, 69, 69);
}


.injected{  
  display: flex;
  flex-direction: column;
 padding: 0 15vw 0 15vw;
 font-family: "Source Sans Pro";
}

.injected pre{
  font-style: italic;
}

.injected li{
  list-style: none;
  color: rgb(119, 63, 63);
}