.header {
  padding: 60px;
  text-align: center;
  /* background: #1abc9c; */
  color: white;
  font-size: 30px;
}

html {
  height: 100%;
}

#root{

  height: 100%;
  background-color: #333;
}


body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;  
  background-color: rgb(255, 255, 255);
  padding: 0 20% 0 20%;
  height: 100%;
}

.container {  
  background-color: #333;
}

/* dark theme colour #333 */
.navbar {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0px;
  overflow: hidden;
  padding: 0 20% 0 20%;
}

/*list item within navbar */
.navbar > div {
  float: left;
}

.navbar > div:last-child {
  float: right;
}

.navbar > div a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.navbar > div img {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 25px;
  height: 25px;
}

/* Change the link color to #111 (black) on hover */
.navbar > div a:hover {
  background-color: #111;
}

.item {
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

.item li div {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3));
}

h1 {
  font-size: larger;
}
h2 {
  font-size: small;
}

/* div.sticky {
  position: -webkit-sticky; sifffari;
  position: sticky;
  bottom: 0;
  background-color: yellow;
  padding: 1rem;
  font-size: 20px;
} */

.footer {
  
  bottom: 0; 
  color: white;
  background-color: #333;
  padding: 5rem 5rem 0 5rem;
  
 
}

.footer > div {  
  border-top: 1px solid rgb(131, 131, 131);
  display: flex; 
  justify-content: space-between;  
 
}

.footer > div > div {  
  /* border-top: 1px solid rgb(131, 131, 131); */
  display: flex; 
  justify-content: space-between; 
  padding: 0 2rem 0 2rem; 
  
}

.footer > div > div > p {  
 padding: 0.2rem;
}



